.bkg-container {
  background-color: #f0efed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container-checkout {
  max-width: 1145px;
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.container > h2 {
  font-family: "Prompt", sans-serif;
}

.chakra-heading.css-1dklj6k,
.chakra-heading.css-q2ryjt {
  font-family: "Prompt", sans-serif;
}
