.section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  max-width: 1145px;
  place-items: center;
  margin: 0 auto;
  padding-top: 45px;
}

.card {
  max-width: 550px;
  width: 100%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  background: #fff;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}


.card-image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.card-image:hover {
  transform: scale(1.05);
}

.pre-order-badge {
  background: #ff8d6b;
  text-transform: uppercase;
  color: #1a2456;
  position: absolute;
  top: 10px;
  right: 0px;
  padding: 5px 10px;
}

.card-header-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  height: 2rem;
}

.card-header-price h3 {
  margin-block-start: 0em;
  margin-block-end: 0.2em;
}

.card-content-description {
  font-weight: 300;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.img-bg {
  background: #d2d2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.article-card.Synthesizer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.article-card.Synthesizer .img-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  overflow: hidden;
}
