img {
  max-width: 100%;
}
html,
body {
  margin: 0;
  font-family: "Prompt", sans-serif;
  background-color: whitesmoke;
  color: #1a2456;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

* {
  font-family: "Prompt", sans-serif;
}
