.nav-position-fixed {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.nav-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 2px;
  top: 0;
  padding: 0.5em;
  position: relative;
  background-color: #1a2456;
  margin: 1rem;
}

.nav-logo {
  display: flex;
  text-decoration: none;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 20%;
  align-self: auto;
  color: rgb(239, 194, 179);
  font-weight: 600;
  align-items: center;
}

.nav-logo > img {
  max-width: 90px;
}

.nav-logo > h1 {
  text-transform: uppercase;
  font-size: 0.8rem;
   font-weight: 300;
   color: #1a2456;
   padding-left: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links > * {
  text-decoration: none;
  list-style-type: none;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  color: rgb(239, 194, 179);
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 8px;
}

ul.nav-links {
  margin: 0;
  padding: 0;
}

.basket-container {
  position: relative;
}

button.basket-button {
  color: rgb(239, 194, 179);
  font-size: 1.3rem;
  position: relative;
  background-color: #1a2456;
}

span.basket-badge {
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: #FF8D6B;
  color: white;
  font-size: 0.8rem;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-logo > h1 {
    display: none;
  }

  .chakra-button {
    display: block;
  }
}