.nav-div {
  display: flex;
  justify-content: center;
}

.nav-parent {
  position: fixed;
  width: 90%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #1a2456;
  z-index: 1000;
}

.nav-logo {
  display: flex;
  text-decoration: none;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 20%;
  align-self: auto;
  color: #efc2b3;
  font-weight: 600;
  align-items: center;
}

.nav-logo > img {
  max-width: 90px;
}

.nav-logo > h1 {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 300;
  color: #1a2456;
  padding-left: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links > * {
  text-decoration: none;
  list-style-type: none;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  color: rgb(239, 194, 179);
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 8px;
}

ul.nav-links {
  margin: 0;
  padding: 0;
}

.basket-container {
  position: relative;
}

button.basket-button {
  color: rgb(239, 194, 179);
  background-color: #1a2456;
  padding: 0px;
}

span.basket-badge {
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: #ff8d6b;
  color: white;
  font-size: 0.8rem;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.nav-links-mobile li {
  color: #1a2456;
  text-decoration: none;
  list-style: none;
  background-color: #ff8d6b;
}

@media (max-width: 768px) {
  .nav-shop-link {
    display: none;
  }

  .nav-logo > h1 {
    display: none;
  }

  .chakra-button {
    display: block;
  }
}

@media (min-width: 768px) {
  .nav-parent > button {
    display: none;
  }
}
